<phpunit>
	<testsuites>
		<testsuite name="Profile and Report class">

			<file>ProfileTest.php</file>
			<file>VoteTest.php</file>
			<file>BehaviorTest.php</file>
			<file>BusinessTest.php</file>
			<file>VoteTest.php</file>
			<file>ReportTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>